* {
    box-sizing: border-box;
    margin: 3px;
    padding: 0;
    font-family:Tempus Sans ITC, garamond;
    font-size:22px;
    font-weight: bold;
    background-color: rgb(111, 142, 58);
}

h1 {
    text-align:center;
    font-size: 65px;
    margin-bottom: 1rem;
    margin-top:1rem;
}

a:link, a:visited {
    color:darkblue;
  }

.heaven {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
}

.courtesy {
    font-size: 12px;
    text-align: center;
}

.font {
    font-size: 27px;
    font-weight: bold;
}

.reverse {
    font-size: 22px;
    font-weight:bold;
}

.sun {
    display: block;
    float: right;
    height: auto;
    width: 10rem;
}

.rays {
    float: left;
    height: 8rem;
    width:auto;
}

.trees {
    float: left;
    display: block;
    height: 6rem;
}

.dove {
    display: block;
    float:left;
    height: 6rem;
    width: auto;
}

ol.bullet {
    display: inline-block;
    text-align: left;
    margin-left: 50px;
}

.trinity {
    display: block;
    float: right;
    height: 10rem;
    width: auto;
}

.command {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
}

.jesus {
    display: block;
    float: left;
    height: 11rem;
    width: auto;
}
